@media (min-width: 300px) {
  .container {
    height: 185vh;
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
  }

  .contend {
    align-items: center;
    justify-content: center;
    margin-top: 7vh;
    backdrop-filter: blur(8px);
    padding: 5vh;
  }
}

@media (min-width: 600px) {
  .container {
    display: flex;
    color: white;
    justify-content: center;
  }


  .contend {
    margin-top: 25vh;
    align-items: center;
    justify-content: center;
  }
}
