@media (min-width: 300px) {
    .hero1{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }    
    
    .hero2{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
    }    
    
    .hero1 .hero1item{
       align-items: center;
       margin-top: 6vh;
       background-color: rgba(250, 235, 215, 0.137);
       backdrop-filter: blur(2px);
       margin-bottom: 5vh;
    }
    
    .hero2 .hero2item{
       align-items: center;
       
    }
    
    .hero2 .cardskills{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        backdrop-filter: blur(10px);
        color: white;
        padding: 5vh;
      
    }
    
    
    .hero2 .cardskills .contentskills{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    
    
    
    .banner{
        
        height: 5vh;
        display: flex;
        justify-content: center;
        background-repeat: space;
        background-size: contain;
        background-position: center;
    }    
}









@media (min-width: 800px) {
 
    .hero1{
        height: 70vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }    
    
    .hero2{
        height:90vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
    }    
    
    .hero1 .hero1item{
       align-items: center;
       margin-top: 10vh;
       margin-left: 5vh;
       margin-right: 5vh;
       background-color: rgba(255, 255, 255, 0.226);
       backdrop-filter: blur(2px);
       padding: 5vh;

    }
    
    .hero2 .hero2item{
        
       align-items: center;
       
    }
    
    .hero2 .cardskills{
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        backdrop-filter: blur(10px);
        color: white;
        margin-left: 5vh;
       margin-right: 5vh;
       padding: 5vh;
      
    }
    
    
    .hero2 .cardskills .contentskills{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    
    
    
    .banner{
        
        height: 5vh;
        display: flex;
        justify-content: center;
        background-repeat: space;
        background-size: contain;
        background-position: center;
    }
 
}

@media (min-width: 1500px) {
 
    .hero1{
        height: 70vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }    
    
    .hero2{
        height:127vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
    }    
    
    .hero1 .hero1item{
        
       align-items: center;
       backdrop-filter: blur(3px);
       margin: 60px;
       padding: 15px;
    
    }
    
    .hero2 .hero2item{
       align-items: center;
       margin-bottom: 130px;  
       
    }
    
    .hero2 .cardskills{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        backdrop-filter: blur(10px);
        color: white;
        margin: 10vh;
        padding: 10vh;
    
    }
    
    
    .hero2 .cardskills .contentskills{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2vh;
    }
    
    
    
    .banner{
        
        height: 5vh;
        display: flex;
        justify-content: center;
        background-repeat: space;
        background-size: contain;
        background-position: center;
    }
 
}









